<h1>候選人名單</h1>

<table class="table">
  <thead>
    <tr>
      <th>投票</th>
      <th>候選人姓名</th>
      <th>政黨</th>
      <th>政見</th>
      <th>得票數</th>
      <th>處理</th> 
    </tr>
  </thead>
  <tbody>
    <% @candidates.each do |candidate| %>
      <tr>
        <td><%= link_to "投這位", vote_candidate_path(candidate),method: :post, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-xs" %></td> 
        <td><%= candidate.name %>(年齡： <%= candidate.age %>歲)</td>
        <td><%= candidate.party %></td>
        <td><%= candidate.politics %></td>
        <td><%= candidate.vote_logs.size %></td>
        <td>
          <%= link_to 'Edit', edit_candidate_path(candidate) %> | 
          <%= link_to 'Delete', candidate_path(candidate), method: :delete, data: {confirm: "Are you sure? "} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "建立候選人", new_candidate_path %> 


  
